:root{
    --bollando-navcolor:#ff6900;
    --bollando-footercolor: #1a1a1a;
}
/* startregion utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

li{
    color: white;
    list-style-type: none;
    display: inline-block;
}

/* endregion utility */
/* debug */
/* .debug nav {
    background-color: orange;
}

.debug .gender {
    background: orangered;
}

.debug .logo {
    background-color: orangered;
}

.debug .hicon {
    background-color: orangered;
} */

/* .debug .card {
    background-color: antiquewhite;
} */

/* .debug .heart {
    background-color: aqua;
    width: 20px;
    height: 20px;
}
 */
/* .debug .sales {
    background-color: red;
    width: 100%;
}

.debug .green {
    background-color: green;
    width: 30px;
} */

/* .debug .textarea {
    background-color: blueviolet;
    width: 100%;
} */

/* .debug .item {
    height: 298px;
} */

/* .debug footer {
    background-color: gray;
}

.debug .info {
    background-color: aqua;
}

.debug .meet {
    background-color: azure;
}
 */
/* /debug */
/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.space {
    height: 40px;
}

nav {
    justify-content: center;
    padding: 0.5rem 20%;
    width: 100%;
    background-color: var(--bollando-navcolor);
}

.menu {
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
}

.gender li{
    font-size: 1rem;
    padding: 0.2rem;
}

.logo img {
    height: 1.5rem;
    padding: 0.2rem;
}

.hicon {
    justify-content: center;
}

.icon {
    width: 1rem;
    fill: white;
    padding: 0.2rem;
}

/* /header */
/* main */
.container {
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1% 0%;
}

.card {
    display: inline-block;
    width: calc((100% / 12) * 3.9);
    min-width: 144px;
    border-color: white;
    border-style: solid;
    border-width: 2rem 1rem;
}

.item {
    position: relative;
}

.heart {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    padding: 0.2rem;
    font-size: 2rem;
}

.sales {
    position: absolute;
    bottom: 5%;
    color: white;
    font-size: 0.7rem;
}

.forcent{
    display: inline-block;
    background-color: red;
    padding: 0.5rem;
}
.forcent::before{
    content: "%";
}
.green {
    display: inline-block;
    background-color: green;
    padding: 0.5rem;
}
.textarea{
    background-color: white;
}
.textarea{
    color: black;
}
.textarea h4{
    font-size: 0.7rem;
}
.textarea h2{
    text-decoration:double;
    font-size: 0.8rem;
    font-weight: bold;
}
.textarea .price{
    color: red;
    font-size: 0.7rem;
    text-decoration: none;
}
.textarea span{
    text-decoration:line-through;
    font-size: 0.7rem;
    margin: 0 0.2rem;
    font-weight: bolder;
}
.textarea span::after{
    content: "€";
}
/* card hover */
.imgh,.img1{
    width: 100%;
}
.hover{
    display: none;
}
.card:hover .hover{
    display: inline-block;
}
.card:hover .img1{
    display: none;
}
.heart:hover{
    color: red;
}
/* /main */
/* footer */
.footbar{
    justify-content: center;
    background-color: var(--bollando-footercolor);
}

.bar{
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    padding: 1rem;
}
.bar h2{
    font-size: 0.7rem;
    color: white;
}
.bar li{
    font-size: 0.5rem;
}
.meet h4{
    color: white;
    font-size: 0.5rem;
}